/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can add global styles to this file, and also import other style files */

@layer base {
}

@layer components {
  // .app-layout {
  //   &__topbar {
  //     @apply fixed w-full top-0 left-0 p-2 flex h-20;
  //   }
  //   &__sidebar {
  //     @apply fixed h-full top-0 left-0 p-2 flex w-72 pt-20;
  //   }
  //   &__main {
  //     @apply relative;
  //     &--with-sidebar {
  //       @apply pl-72;
  //     }
  //     &--with-topbar {
  //       @apply pt-20;
  //     }
  //   }
  // }
  // main {
  //   @apply relative block p-8;
  // }
}

@layer utilities {
}

.p-timeline-event-opposite {
  display: none;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  // font-size: 24px; /* Preferred icon size */
  display: inline-block;
  // line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
  &.inline-icon {
    vertical-align: middle;
  }
}
